@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* 전체 화면 높이 확보를 위한 필수 설정 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤 중복 방지 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
